{% extends "layout.html" %}
{% import '_macros.html' as macros %}
{% block title %}User Settings{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">User Settings</h2>
	</div><!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-user fa-fw"></i> Basic Information
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" method="POST" action="{{ url_for('routes_user.settings') }}">
					{{ macros.render_field(userform.name) }}
					{{ macros.render_field(userform.email) }}
					{{ macros.render_field(userform.teachername, "e.g. 'Mrs. Smith' - will be printed on exams") }}
					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Update User Information</button>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div> <!-- col-md-12 Basic Information -->
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-success">
					<div class="panel-heading">
						<i class="fa fa-edit fa-fw"></i> Change your password.
					</div>
					<div class="panel-body">
						<div class="form-horizontal" role="form">
							{{ macros.render_field(changepasswordform.oldpassword) }}
							{{ macros.render_field(changepasswordform.newpassword) }}
							{{ macros.render_field(changepasswordform.confirm) }}
							<div class="form-group"> 
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-default" id="change-password">Change Password</button>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<i class="fa fa-trash fa-fw"></i> Deactivate Account
					</div>
					<div class="panel-body">
						Warning: This will delete all user data.  Make sure that this is something you actually want to do.  If you <em>really</em> want to deactivate your account, click <a href="{{ url_for('routes_user.deactivate') }}">here</a>.
					</div>
				</div>
			</div>
		</div><!-- row -->
	</div> <!-- col-md-6 Change Password, delete account -->
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-{% if subscription['expired'] %}red{% else %}primary{% endif %}">
					<div class="panel-heading">
						<i class="fa fa-mobile fa-fw"></i> Mobile Subscription
					</div>
					<div class="panel-body">
						{% if subscription %}
							{% if subscription['expired'] %}
								Your subscription expired on <strong>{{ subscription['expiration'] }}</strong>.
							{% else %}
								Your subscription is active until <strong>{{ subscription['expiration'] }}</strong>.
							{% endif %}
								You may purchase additional time in one, two, or three year increments.
								<hr><a href="{{ url_for('routes_user.subscribe') }}"><button class="btn btn-primary"><i class="fa fa-plus-square fa-fw"></i> Add time to your subscription</button></a>
						{% else %}
							You are currently using the free, ad-supported version of myAutoTA.  Do you hate ads, want to use the mobile app, or simply want to support this website?  Subscribe!  For $10 per year you can use this site ad-free, and have access to the mobile app for on-the-go grading.  <a href="{{ url_for('routes_user.subscribe') }}">Learn More</a>
							<hr><a href="{{ url_for('routes_user.subscribe') }}"><button class="btn btn-primary"><i class="fa fa-plus-square fa-fw"></i> Subscribe</button></a>
						{% endif %}
							
					</div>
				</div>
			</div><!-- Mobile subscription -->
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<i class="fa fa-laptop fa-fw"></i> Currently Open Sessions
					</div>
					<table class="table">
						<tr>
							<th>IP Address</th>
							<th>Last Active</th>
							<th></th>
						</tr>
						{% for session in g.current_user.sessions %}
							{% if session['sessionid'] == current_session %}
							<tr class="active">
								<td style="vertical-align:middle">{{ session['ipaddress'] }}</td>
								<td style="vertical-align:middle">{{ (now - session['updated_at']).days }} day(s) ago</td>
								<td style="vertical-align:middle">Current Session</td>
							</tr> 
							{% else %}
							<tr>
								<td style="vertical-align:middle">{{ session['ipaddress'] }}</td>
								<td style="vertical-align:middle">{{ (now - session['updated_at']).days }} day(s) ago</td>
								<td style="vertical-align:middle"><button class="btn btn-default session-logout" data-sessionid="{{ session['sessionid'] }}">Close Session</button></td>
							</tr> 
							{% endif %}
						{% endfor %}
					</table><!-- table -->
					<div class="panel-body">
						<em>Sessions are automatically removed after 7 days of inactivity.</em>
					</div>
				</div>
			</div><!-- Currently Open Sessions -->
		</div>
	</div> <!-- col-md-6 Mobile Subscription -->

</div> <!-- row -->
{% endblock %}
{% block customjs %}
<script src="{{ url_for('static',filename='js/toastr.min.js') }}"></script>
<script>
	$('.session-logout').click(function(){
		sessionid = $(this).attr('data-sessionid');
		url = '{{ url_for('routes_user.closesession') }}' + sessionid;
		$.ajax({
			url: url,
			success: function(result) {
				if(result['status'] == 'success'){
					window.location.reload();
				} else {
					$('#' + usersid + 'status_loading').hide();
					toastr['error'](result['message'],'Error');	
				}
			},
			error: function(xhr) { 
				toastr['error']('Error: ' + xhr.status + ' ' + xhr.statusText,'Error'); 
				$('#' + usersid + 'status_loading').hide();
			}
		});

	});

	$('#change-password').click(function(){
		oldpassword = $('#{{ changepasswordform.oldpassword.id }}').val()
		newpassword = $('#{{ changepasswordform.newpassword.id }}').val()
		confirmation = $('#{{ changepasswordform.confirm.id }}').val()
		url = '{{ url_for('routes_user.changepassword') }}'
		$.ajax({
			method: 'POST',
			url: url,
			data: { oldpassword : oldpassword,
				newpassword : newpassword,
				confirm : confirmation
			},
			success: function(result){
				if(result['status'] == 'success'){
					toastr['success']('Password Successfully Changed');
					window.location.reload();
				} else {
					toastr['error'](result['message']);
				}
			},
			error: function(xhr){
				toastr['error']('Error: ' + xhr.status + ' ' + xhr.statusText,'Error'); 
			}

		});
	});

</script>
{% endblock %}

{% block customcss %}
	<link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet">
{% endblock %}
