{% extends "layout.html" %}
{% import '_macros.html' as macros %}
{% block title %}Settings for {{ g.current_course.name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Course Settings: {{ g.current_course.name }}</h2>
	</div><!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<i class="fa fa-users"></i> Permissions
			</div>
			<table class="table">
			<tr>
				<th class="col-md-1"></th>
				<th class="col-md-4">Name</th>
				<th class="col-md-4">Email</th>
				<th class="col-md-2">Role</th>
				<th class="col-md-1"></th>
			</tr>
			{% for ur in users_roles %}
			<tr>
				<td>
				{% if ur['role'] != 'own' and ur['user'].usersid != g.current_user.usersid %}
				<button type="button" class="btn btn-danger btn-sm remove-user-btn" data-usersid="{{ ur['user'].usersid }}"><i class="fa fa-trash-o"></i> Remove</a>
				{% endif %}
				</td>
				<td style="vertical-align:middle">{{ ur['user'].name }}</td>
				<td style="vertical-align:middle">{{ ur['user'].email }}</td>
				<td>
				{% if ur['user'].usersid == g.current_user.usersid or ur['role'] == 'own' %}
					<button type="button" class="btn btn-default" disabled='disabled'>{% if ur['role'] == 'own' %}Owner{% elif ur['role'] == 'edit' %}Edit{% else %}View{% endif %}</button>
				{% else %}
					<input class="userPermissionToggle" type="checkbox" data-toggle="toggle" data-on="Can Edit" data-off="View-only" data-onstyle='default' data-offstyle='default' data-usersid="{{ ur['user'].usersid }}"{% if ur['role'] == 'edit' %} checked{% endif %}>
				{% endif %}
				</td>
				<td><span id="{{ ur['user'].usersid }}status"></span></td>
			</tr>
			{% endfor %}
			</table>
			<div class="panel-body">
				<h4>Share with a new user</h4>
				<div class="form-horizontal">
					<div class="col-sm-8" style="padding: 0px">
						<input type="email" id="newuseremail" class="form-control" placeholder="User's Email Address">
					</div>
					<div class="col-sm-2" style="padding: 0px">
						<select class="form-control" id="newuserrole">
							<option value="edit">Can Edit</option>
							<option value="view">View-only</option>
						</select>	
					</div>
					<div class="col-sm-2" style="padding: 0px">
						<span class="btn btn-default btn-block" id="newuserbutton">Add <i class="fa fa-chevron-right"></i></button>
					</div>
					<div id="newuserinfo" class="col-sm-12" style="padding: 0px"></div>
				</div>
			</div>
		</div>
	</div>
	{% if g.current_course.getRole(g.current_user.usersid) == 'own' %}
	<div class="col-lg-4">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<i class="fa fa-trash-o"></i> Delete Course
			</div>
			<div class="panel-body" style="text-align: center">
				<a href="{{ url_for('routes_course.delete',coursesid=g.current_course.coursesid) }}" class="btn btn-danger">Delete {{ g.current_course.name }}</a>		
			</div>	
		</div>
	</div>
	{% endif %}
	<div class="col-lg-8">
		<div class="panel panel-success">
			<div class="panel-heading">
				<i class="fa fa-gears"></i> Course Settings
			</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block customjs %}
	<script src="{{ url_for('static',filename='js/bootstrap-toggle.min.js') }}"></script>
	<script>
	function editUserRole(usersid, role, reload){
		url = '{{ url_for('routes_course.processPermissionChange') }}' + '/{{ g.current_course.coursesid }}/' + usersid + '/' + role;
		$.ajax({
			url: url,
			success: function(result) {
				if(result['status'] == 'success'){
					if(reload){window.location.reload();}
					$('#' + usersid + 'status').html('Saved.');
				} else {
					if(reload){
						$('#newuserinfo').html(result['message']);
					} else {
						$('#' + usersid + 'status').html(result['message']);
					}
				}
			},
			error: function(xhr) { alert("Error: " + xhr.status + " " + xhr.statusText); }
		});
	}
	$('.userPermissionToggle').change(function() {
		usersid = $(this).attr('data-usersid');
		role = ($(this).prop('checked') ? 'edit' : 'view');
		$('#' + usersid + 'status').html('loading');
		editUserRole(usersid,role,false);

	});
	$('#newuserbutton').click(function(){
		email = $('#newuseremail').val();
		role = $('#newuserrole').val();
		$('#newuserinfo').html('validating...');
		url = '{{ url_for('routes_user.getUsersidByEmail') }}' + email;
		$.ajax({
			url: url,
			success: function(result){
				if(result['status'] == 'success'){
					usersid = result['usersid'];
					editUserRole(usersid, role, true);
				} else {
					$('#newuserinfo').html('<div class="alert alert-warning">' + result['message'] + '</div>');
				}
			},
			error: function(xhr) { alert("Error: " + xhr.status + " " + xhr.statusText); }
		});
	});
	$('.remove-user-btn').click(function(){
		usersid = $(this).attr('data-usersid')
		if(confirm('Are you sure you want to revoke permissions for this user?')){
			editUserRole(usersid,'remove',true)
		}
	});
	</script>
{% endblock %}
{% block customcss %}
	<link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}
