{% extends "layout.html" %}
{% import '_macros.html' as macros %}
{% block title %}Settings for {{ g.current_course.name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Course Settings: {{ g.current_course.name }}</h2>
	</div><!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<i class="fa fa-users"></i> Permissions
			</div>
			<table class="table">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
			{% for ur in users_roles %}
			<tr>
				<td>{{ ur['user'].name }}</td>
				<td>{{ ur['user'].email }}</td>
				{% if ur['user'].usersid == g.current_user.usersid or ur['role'] == 'own' %}
					<td><button type="button" class="btn btn-default" disabled='disabled'>{% if ur['role'] == 'own' %}Owner{% elif ur['role'] == 'edit' %}Edit{% else %}View{% endif %}</button></td>
				{% else %}
					<td>
					{% if ur['role'] == 'edit' %}
					<input type="checkbox" data-toggle="toggle" data-on="Can Edit" data-off="View-only" data-onstyle='default' data-offstyle='default' checked>
					{% else %}
					<input type="checkbox" data-toggle="toggle" data-on="Can Edit" data-off="View-only" data-onstyle='default' data-offstyle='default'>
					{% endif %}
					</td>
				{% endif %}
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<i class="fa fa-trash-o"></i> Delete Course
			</div>
			<div class="panel-body" style="text-align: center">
				<a href="{{ url_for('routes_course.delete',coursesid=g.current_course.coursesid) }}" class="btn btn-danger">Delete {{ g.current_course.name }}</a>		
			</div>	
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel panel-success">
			<div class="panel-heading">
				<i class="fa fa-gears"></i> Course Settings
			</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block customjs %}
	<script src="{{ url_for('static',filename='js/bootstrap-toggle.min.js') }}"></script>
{% endblock %}
{% block customcss %}
	<link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}
