{% extends "layout.html" %}
{% import '_macros.html' as macros %}
{% block title %}Settings for {{ g.current_course.name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Course Settings: {{ g.current_course.name }}</h2>
	</div><!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<i class="fa fa-users"></i> Permissions
			</div>
			<table class="table">
			<tr>
				<th class="col-md-4">Name</th>
				<th class="col-md-4">Email</th>
				<th class="col-md-2">Role</th>
				<th class="col-md-1"></th>
				<th class="col-md-1"></th>
			</tr>
			{% for ur in users_roles %}
			<tr>
				
				<td style="vertical-align:middle">{{ ur['user'].name }}</td>
				<td style="vertical-align:middle">{{ ur['user'].email }}</td>
				<td>
				{% if ur['user'].usersid == g.current_user.usersid or ur['role'] == 'own' %}
					<button type="button" class="btn btn-default" disabled='disabled'>{% if ur['role'] == 'own' %}Owner{% else %}Edit{% endif %}</button>
				{% else %}
					<input class="userPermissionToggle" type="checkbox" data-toggle="toggle" data-on="Can Edit" data-off="View-only" data-onstyle='default' data-offstyle='default' data-usersid="{{ ur['user'].usersid }}"{% if ur['role'] == 'edit' %} checked{% endif %}>
				{% endif %}
				</td>
				<td style="vertical-align:middle">
					<span id="{{ ur['user'].usersid }}status_loading" class="user-loading" style="display:none"><img src="{{ url_for('static',filename='img/loading_32.gif') }}"></span>
					<span id="{{ ur['user'].usersid }}status_success" class="user-success btn btn-success" disabled="disabled" style="display:none"><i class="fa fa-check-circle"></i></span>
				</td>
				<td>
					{% if ur['role'] != 'own' and ur['user'].usersid != g.current_user.usersid %}
					<button type="button" class="btn btn-danger btn-sm remove-user-btn" data-usersid="{{ ur['user'].usersid }}"><i class="fa fa-trash-o"></i> Remove</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</table>
			<div class="panel-body">
				<h4>Share with a new user</h4>
				<div class="form-horizontal">
					<div class="col-sm-8" style="padding: 0px">
						<input type="email" id="newuseremail" class="form-control" placeholder="User's Email Address">
					</div>
					<div class="col-sm-2" style="padding: 0px">
						<select class="form-control" id="newuserrole">
							<option value="edit">Can Edit</option>
							<option value="view">View-only</option>
						</select>	
					</div>
					<div class="col-sm-1" style="padding: 0px">
						<span class="btn btn-default btn-block" id="newuserbutton">Add <i class="fa fa-chevron-right"></i></button>
					</div>
					<div class="col-sm-1" style="padding: 0px">
						<span id='newuserloading'><img src="{{ url_for('static',filename='img/loading_32.gif') }}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if g.current_course.getRole(g.current_user.usersid) == 'own' %}
	<div class="col-lg-4">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<i class="fa fa-trash-o"></i> Delete Course
			</div>
			<div class="panel-body" style="text-align: center">
				<a href="{{ url_for('routes_course.delete',coursesid=g.current_course.coursesid) }}" class="btn btn-danger">Delete {{ g.current_course.name }}</a>		
			</div>	
		</div>
	</div>
	{% endif %}
	<div class="col-lg-8">
		<div class="panel panel-green">
			<div class="panel-heading">
				<i class="fa fa-gears"></i> Course Settings
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" method="POST" action="{{ url_for('routes_course.settings', coursesid=g.current_course.coursesid) }}">
					{{ macros.render_field(courseform.name, 'e.g. "Geometry"') }}
					{% for section in g.current_course.getSections() %}
						<div class="form-group multifield">
							<label class="control-label col-sm-2" for="sections-{{loop.index0}}">Section #{{loop.index0+1}}</label>
							<div class="col-sm-8">
								<input class="form-control" id="sections-{{loop.index0}}" name="sections-{{loop.index0}}" placeholder="e.g. &quot;Hour 3A&quot;" type="text" value="{{section.name}}">
							</div>
							<div class="col-sm-2">
								<span class="btn btn-danger btn-block remove-section" data-sectionsid="{{section.sectionsid}}"><i class="fa fa-trash-o"></i> Remove</span>
							</div>
						</div>
					{% endfor %}
					<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Submit Changes</button>
						</div>
					</div>
				</form>
				<hr>
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="add-section-name">New Section</label>
						<div class="col-sm-7">
							<input class="form-control" id="add-section-name" name="add-section-name" placeholder="e.g. &quot;Hour 3A&quot;" type="text">	
						</div>
						<div class="col-sm-1">
							<span id="add-section-loading" style="display:none"><img src="{{ url_for('static',filename='img/loading_32.gif') }}"></span>
						</div>
						<div class="col-sm-2">
							<span class="btn btn-success btn-block" id="add-section"><i class="fa fa-plus-circle"></i> Add section</span> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block customjs %}
	<script src="{{ url_for('static',filename='js/bootstrap-toggle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/toastr.min.js') }}"></script>
	<script>
	toastr.options.positionClass = 'toast-top-center';
	function editUserRole(usersid, role, reload){
		url = '{{ url_for('routes_course.processPermissionChange') }}' + '/{{ g.current_course.coursesid }}/' + usersid + '/' + role;
		$.ajax({
			url: url,
			success: function(result) {
				if(result['status'] == 'success'){
					if(reload){window.location.reload();}
					$('#' + usersid + 'status_loading').hide();
					$('#' + usersid + 'status_success').slideDown();
					setTimeout(function(){ $('#' + usersid + 'status_success').fadeOut(); }, 3000);
				} else {
					$('#' + usersid + 'status_loading').hide();
					toastr['error'](result['message'],'Error');	
				}
			},
			error: function(xhr) { 
				toastr['error']('Error: ' + xhr.status + ' ' + xhr.statusText,'Error'); 
				$('#' + usersid + 'status_loading').hide();
			}
		});
	}
	$('.userPermissionToggle').change(function() {
		usersid = $(this).attr('data-usersid');
		role = ($(this).prop('checked') ? 'edit' : 'view');
		$('#' + usersid + 'status_success').hide();
		$('#' + usersid + 'status_loading').show();
		editUserRole(usersid,role,false);

	});
	$('#newuserbutton').click(function(){
		email = $('#newuseremail').val();
		role = $('#newuserrole').val();
		$('#newuserloading').show();
		url = '{{ url_for('routes_user.getUsersidByEmail') }}' + email;
		$.ajax({
			url: url,
			success: function(result){
				if(result['status'] == 'success'){
					usersid = result['usersid'];
					editUserRole(usersid, role, true);
				} else {
					toastr['error'](result['message'],'Error');
					$('#newuserloading').hide();
				}
			},
			error: function(xhr) { toastr['error']('Error: ' + xhr.status + ' ' + xhr.statusText,'Error'); }
		});
	});
	$('.remove-user-btn').click(function(){
		usersid = $(this).attr('data-usersid')
		if(confirm('Are you sure you want to revoke permissions for this user?')){
			editUserRole(usersid,'remove',true)
		}
	});
	$('#newuserloading').hide();
	$('.remove-section').click(function(){
		sectionsid = $(this).attr('data-sectionsid')
		if(confirm('Are you sure you want to remove this course and all associated student data?')){
			$.ajax({
				url: "{{ url_for('routes_course.removesection',coursesid=g.current_course.coursesid) }}" + sectionsid,
				success: function(result){
					if(result['status'] == 'success'){
						window.location.reload();
					} else {
						toastr['error'](result['message'],'Error');	
					}
				},
				error: function(xhr) { toastr['error']('Error: ' + xhr.status + ' ' + xhr.statusText,'Error'); }
			});
		}
	});
	$('#add-section').click(function(){
		$('#add-section-loading').show();
		section_name = $('#add-section-name').val();
		$.ajax({
			url: "{{ url_for('routes_course.addsection', coursesid=g.current_course.coursesid) }}" + section_name,
			success: function(result){
				if(result['status'] == 'success'){
					window.location.reload();
				} else {
					toastr['error'](result['message'],'Error');	
				}
			},
			error: function(xhr) { toastr['error']('Error: ' + xhr.status + ' ' + xhr.statusText,'Error'); }
		});
	});
</script>
{% endblock %}
{% block customcss %}
	<link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet">
{% endblock %}
