{% extends "layout.html" %}
{% import '_macros.html' as macros %}
{% block title %}{{ g.current_course.name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">{{ g.current_course.name }}<small><small> [<a href="{{ url_for('routes_course.settings',coursesid=g.current_course.coursesid) }}">Edit</a>]</small></small></h2>
	</div><!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				Exams
			</div>
			<table class="table">
			{% for exam in g.current_course.getExams() %}
				<tr>
					<td>
						<a href="{{ url_for('routes_exam.view', coursesid=exam.coursesid, examsid=exam.examsid) }}" class="btn btn-link"> <strong>{{ exam.name }}</strong></a>
					</td>
					<td>
						<a href="{{ url_for('routes_exam.view', coursesid=exam.coursesid, examsid=exam.examsid) }}" class="btn btn-success" data-toggle="tooltip" data-original-title="View Results " rel="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-list-alt"></span></a>
						<!-- TODO: LIMIT THIS SECTION TO 'editors' and 'owners' -->
							<a href="{{ url_for('routes_exam.pdf', coursesid=exam.coursesid, examsid=exam.examsid) }}" class="btn btn-default" data-toggle="tooltip" data-original-title="Download Blank PDF" rel="tooltip" data-placement="bottom"><i class="fa fa-pdf"></i></a>
							<a href="{{ url_for('routes_exam.delete', coursesid=exam.coursesid, examsid=exam.examsid) }}" class="btn btn-danger" data-toggle="tooltip" data-original-title="Delete Exam" rel="tooltip" data-placement="bottom"><span class="fa fa-trash"></span></a>
							<a href="{{ url_for('routes_exam.share', coursesid=exam.coursesid, examsid=exam.examsid) }}" class="btn btn-info" data-toggle="tooltip" data-original-title="Share Results" rel="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-envelope"></span></a>
						<!-- END TODO -->
					</td>
				</tr>
			{% endfor %}
				<tr>
					<td>
						<a href="{{ url_for('routes_exam.new', coursesid=g.current_course.coursesid) }}" class="btn btn-link"><i class="fa fa-plus-circle fa-fw"></i> New Exam</a>
					</td>
				</tr>
			</table>
		</div><!-- panel -->
	</div> <!-- col-md-8 -->
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Course Info
			</div>
			<div class="panel-body">
			</div>
		</div><!-- panel -->
	</div> <!-- col-md-4 -->
</div>
{% endblock %}
Things to list:
 * Exams
 * Users
 * Statistics
 * "create new" exam
 * "Edit course"
{% block customjs %}
<script type="text/javascript">
	$(function(){
	   $('[rel="tooltip"]').tooltip();
	});
</script>
{% endblock %}
