{% extends "layout.html" %}
{% import '_macros.html' as macros %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Reset Your Password</h2>
	</div><!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form class="form-horizontal" role="form" action="{{ url_for('routes_user.passwordreset',reset_key=reset_key) }}" method="POST">
			{{ macros.render_field(form.newpassword) }}
			{{ macros.render_field(form.confirm) }}
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default" id="change-password">Change Password</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
