<VirtualHost *>
    ServerName myautota.com

    WSGIDaemonProcess myautota user=www-data group=www-data threads=5
    WSGIScriptAlias / /var/www/myautota/myautota.wsgi

    <Directory /var/www/myautota>
        WSGIProcessGroup myautota
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>

    ErrorLog /var/log/apache2/myautota/error.log
    CustomLog /var/log/apache2/myautota/access.log combined
</VirtualHost>
