<VirtualHost *:80>
    ServerName myautota.com
    redirect permanent / https://www.myautota.com:{{ https_port }}/
</VirtualHost>

<VirtualHost *:80>
    ServerName www.myautota.com
    redirect permanent / https://www.myautota.com:{{ https_port }}/
</VirtualHost>

<VirtualHost *:443>
    SSLEngine On
    SSLCertificateFile /etc/ssl/myautota.com.crt
    SSLCertificateKeyFile /etc/ssl/private/myautota.com.key
    SSLCertificateChainFile /etc/ssl/myautota.com.ca-bundle

    ServerName www.myautota.com

    WSGIDaemonProcess myautota user=www-data group=www-data threads=5
    WSGIScriptAlias / /var/www/myautota/myautota.wsgi

    <Directory /var/www/myautota>
        WSGIProcessGroup myautota
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>

    ErrorLog /var/log/apache2/myautota/error.log
    CustomLog /var/log/apache2/myautota/access.log combined
</VirtualHost>
