dbhost='{{ database_ip }}'
dbname='{{ mat_db_name }}'
dbpass='{{ mat_db_password }}'
dbuser='{{ mat_db_username }}'
password_salt='{{ mat_password_salt }}'
recaptcha_public_key='{{recaptcha_public_key}}'
recaptcha_private_key='{{recaptcha_private_key}}'
webapp_secret_key='{{ webapp_secret_key }}'
smtp_password = '{{ smtp_password }}'
smtp_port = '{{ smtp_port }}'
smtp_server = '{{ smtp_server }}'
smtp_use_tls = {{ smtp_use_ssl }}
smtp_username = '{{ smtp_username }}'
