{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
	<div>
		<form class="form-signin" method="POST" action="{{ url_for('routes_user.forgot') }}">
			<h2 class="form-signin-heading">Forgotten Password</h2>
			{% if form.email.errors %}
    				{% for error in form.email.errors %}
      				<div class="col-sm-12 alert alert-danger">{{ error }}</div>
				{% endfor %}
			{% endif %}
			{{ form.email(class="form-control", placeholder="Email address", autofocus=True) }}
			<div class="form-group"> 
				<div>
					<button type="submit" class="btn btn-default btn-block">Reset my password</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block customcss %}
	<link href="{{ url_for('static', filename='css/signinform.css') }}" rel="stylesheet">
{% endblock %}
